*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/smarty/AIFP/templates/error.tpl
/smarty/AIFP/templates/
/smarty/AIFP/templates_c/
/css/
/js/